<h4 class="m-4">Inventory Item</h4>
<mat-card class="m-4">
    <div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div class="offset-4 col-md-2">
                <button mat-stroked-button color="primary" routerLink="/inventory/add_item"
                    class="add-button float-right">
                    <mat-icon>add</mat-icon> Add Item
                </button>
            </div>
        </div>
        <div>
            <!-- table -->
            <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> #</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index"> {{i+1}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> <span class="view" (click)="viewItem(row)">{{row.name }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.price}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
                    <mat-cell *matCellDef="let row"> <img class="m-1" src="{{row.image}}">
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
                    <mat-cell *matCellDef="let row;">
                        <mat-icon (click)="deleteItem(row.item_id)">delete</mat-icon>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            <!-- /table -->

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

    </div>
</mat-card>