.searchbar-full-width{
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 0px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.action-btn{
  margin: 3px;
}
.mat-tooltip {
  overflow: visible;
  position: relative;
}
.mat-tooltip.right {
  border-left: 6px solid red;
  margin-left: 5px;
}
.mat-tooltip.right::before {
  position: absolute;
  content: '';
  display: inline-block;
  background-color: red;
  clip-path: polygon(50% 0, 0 50%, 50% 100%);
  left: -12px;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.view{
  color: blue;
  text-decoration: underline;
}
img{
  height: 60px;
    width: 60px;
    /* border: 1px solid black; */
}