<h4 style="text-align:center" class="m-5">View Item</h4>
<mat-card *ngIf="itemData!=undefined">
    <mat-card-content class="example-container">

        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput value="{{itemData.name}}" placeholder="Item Name" disabled="disabled">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput value="{{itemData.price}}" placeholder="Price" disabled="disabled">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <textarea matInput value="{{itemData.description}}" placeholder="Description" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10"
                        value="{{itemData.name}}" value="{{itemData.name}}" disabled="disabled"></textarea>
                </mat-form-field>
            </div>
        </div>


        <div class="row">

            <div class="col-md-6">
                <img [src]="itemData.image" style="width:100px" alt="{{itemData.name+'img'}}">
            </div>

        </div>
        <div style="display: flex; flex-direction: row;justify-content: flex-end;">
            <button mat-stroked-button class="mr-2" color="primary" routerLink="/inventory/inventory_list">Back</button>
        </div>

    </mat-card-content>
</mat-card>