<h4 style="text-align:center" class="m-5">Add New Item</h4>
<mat-card>
  
    <form [formGroup]="addItemForm">
        <mat-card-content class="example-container">

            <div class="row">
             <div class="col-md-6">
                <mat-form-field>
                    <input matInput formControlName="name" placeholder="Item Name">
                    <mat-error>Item Name is required.</mat-error>
                </mat-form-field>
                </div>
                <div class="col-md-6">
                <mat-form-field >
                    <input matInput type="number" formControlName="price" placeholder="Price">
                    <mat-error>Price is required.</mat-error>
                </mat-form-field>
</div>         
   </div>

            <div class="row">
                <div class="col-md-12">
                <mat-form-field >
                <textarea matInput formControlName="description"
                     placeholder="Description" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10"></textarea>
                    
                <mat-error>Description is required</mat-error></mat-form-field>
                        </div>
            </div>
           <div class="row">
            <div class="col-md-6">
                <input  type="file" #file accept='image/*' (change)="onChangeimg(file.files)" style="width: 50%;margin: 5px;margin-left: 0px;">
            </div>
            <div class="col-md-6">
                        <img *ngIf="imgURL!=null ||imgURL!=undefined" [src]="imgURL" style="width:100px">
                    </div>
            </div>
            <div style="display: flex; flex-direction: row;justify-content: flex-end;">
                <button mat-stroked-button class="mr-2" color="primary" routerLink="/inventory/inventory_list">Back</button>

                <button mat-stroked-button color="primary" (click)="addItem()">Add Item</button>
            </div>

        </mat-card-content>
    </form>
</mat-card>