.searchbar-full-width{
    width: 100%;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    width: 90%!important;
    padding: 8px 0px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .add-button{
    margin-left: 20px;
    height: 40px;
    margin: 10px;
  }
  mat-card{
    width: 50%;
    height: 350px;
    /* display: block; */
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
                0 1px 1px 0 rgba(0,0,0,1), 
                0 1px 3px 0 rgba(0,0,0,1);
                


}